machine:

  timezone:
    America/New_York

version: 2

jobs:

  build:

    docker:
      - image: circleci/python:3.6-jessie

    steps:
      - checkout

      - run:
          name: Configure a Python virtualenv
          command: virtualenv .env

      - run:
          name: Install required Python modules
          command: |
            pip install flake8
            pip install gitpython # used only in tests at the moment

      - run:
          name: Run tests on code
          command: |
            source .env/bin/activate
            export PYTHONPATH=$PYTHONPATH:/project/style/
            python -m unittest discover -s ./tests -v

      - run:
          name: Lint Python code
          command: |
            source .env/bin/activate
            python -m flake8 ./ --exclude=.env
