machine:

  timezone:
    America/New_York

version: 2

jobs:

  build:

    docker:
      - image: circleci/python:3.6-jessie

    steps:
      - checkout

      - run:
          name: Run tests on code
          command: |
            pip install gitpython # used only in tests at the moment
            export PYTHONPATH=$PYTHONPATH:/project/style/
            python -m unittest discover -s ./tests -v
          environment:
            GIT_PYTHON_GIT_EXECUTABLE: /usr/bin/git

      - run:
          name: Install linters
          command: pip install flake8

      - run:
          name: Lint Python code
          command: flake8
