machine:

  timezone:
    America/New_York

version: 2

jobs:

  build:

    docker:
      - image: python:3.6-slim

    steps:
      - checkout

      - run:
          name: Run tests on code
          command: |
            pip install gitpython # used only in tests at the moment
            export PYTHONPATH=$PYTHONPATH:/project/style/
            export PATH=$PATH:/usr/local/bin/git
            python -m unittest discover -s ./tests -v

      - run:
          name: Install linters
          command: pip install flake8

      - run:
          name: Lint Python code
          command: flake8
