machine:

  timezone:
    America/New_York

version: 2

jobs:

  build:

    docker:
      - image: python:3.6-slim

    steps:
      - checkout
      
      - run:
          name: Add style module to PATH
          command: export PATH=$PATH:/style/

      - run:
          name: Run tests
          command: python tests/util_tests.py -v
